/*css by santosh*/
.agent_btn {
    float: left;
    margin-right: 5px;
}
.d-grid.mx-auto.agentSignup {
  width: 15%;
}
button.btn.agentBtn {
  background-color: #5a102a;
  color: #fff;
  font-size: 18px;
  border: none;
}
.agent_delete{
  display: inline;
}
/*end css*/
